extends ../layouts/common
block content
    h1.pt-5 PRODUCTS LIST
        .d-flex
            form(class="form-group d-flex")
                button.btn.btn-info Click for fun
            form(action="/products/search", method = "GET",class="form-group d-flex m-auto")
                input(name = 'search_name',type = 'text',class="form-control mr-2")
                button(class="btn btn-light") Search
    if matchedCount
        .alert.alert-success=matchedCount+" Founded"
    .row.row-cols-3
         each product in products
            .col
                .card
                    img.card-img-top(src=product.image, alt='product image')
                    .card-body
                        h5.card-title=product.product_name
                        p.card-text(style="height:48px;white-space:wrap;overflow:hidden;text-overflow: ellipsis;")=product.description
                        .d-flex.justify-content-center
                            a.btn.btn-info(href='/cart/add/'+product._id) Add to cart
    nav.float-right.mt-3(aria-label='...')
        ul.pagination
            li.page-item
                a.page-link(href='/products?page=1', action="/products"  method="GET") &laquo;
            if currentPage > 1
                li.page-item
                    if currentPage < pages
                        - var tam = currentPage;
                        - var pre = tam-1
                        a.page-link(href='/products?page='+ pre, action="/products"  method="GET") &lt;   
            - var i = currentPage - (range/2 + 1) + 1;
            - var n = currentPage + (range/2 - 1);
            if i <= 1
                - var i = 1
            if n > pages
                - var n = pages
            if n < range
                - var n = range
            while i <= n
                if i==currentPage
                    li.page-item.active
                        a.page-link(href='/products?page='+ i, action="/products" method="GET")=i++
                else
                    li.page-item
                        a.page-link(href='/products?page='+ i, action="/products" method="GET")=i++ 
            if currentPage < pages - 1
                li.page-item
                    - var tamp = currentPage
                    - var next = tamp + 1
                    a.page-link(href='/products?page='+ next, action="/products" method="GET") &gt;
            li.page-item
                a.page-link(href='/products?page=' + pages, action="/products" method="GET") &raquo;